<div class="map">
    <div class="container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4149.099550958022!2d5.647535!3d58.670367000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfaa95b87bfbfc50a!2sNorsk+Overflate+Teknikk+AS+(NOT)!5e0!3m2!1sen!2sno!4v1541736846299" width="1170" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>