<div class="container">
	<div class="main-content">
		<div class="header-page-search">
			<div class="search-form-field">
				<h4 data-th-text="${portal.localize({'_key=new-search'})}"></h4>
				<p data-th-text="${portal.localize({'_key=announce'})}"></p>
				<form data-th-action="${pathSearch}" id="searchForm" method="GET" role="search">
					<div>
						<button class="button" id="searchSubmit"><i class="fas fa-search"></i></button>
						<input type="text" id="s" name="s" data-th-placeholder="${portal.localize({'_key=search'})}" data-th-value="${data}">
					</div>
				</form>
				<span class="extra-border"></span>
			</div>
		</div>
		<div th:switch="${number}">
			<div th:case="0">
				<h4 data-th-text="${portal.localize({'_key=announce-result'}) + data}"></h4>
				<article class="no-result">
					<p>
						<strong data-th-text="${portal.localize({'_key=nothing-found'})}"></strong>
						<br>
						<span data-th-text="${portal.localize({'_key=sorry-result'})}"></span>
					</p>
					<section class="search-not-found">
						<p data-th-text="${portal.localize({'_key=suggest'})}"></p>
						<ul>
							<li data-th-text="${portal.localize({'_key=suggest-list-1'})}"></li>
							<li data-th-text="${portal.localize({'_key=suggest-list-2'})}"></li>
							<li data-th-text="${portal.localize({'_key=suggest-list-3'})}"></li>
						</ul>
						<h3 data-th-text="${portal.localize({'_key=question'})}"></h3>
					</section>
				</article>
			</div>
			<div th:case="*">
				<h4 data-th-text="${number + portal.localize({'_key=announce-result'}) + data}"></h4>
				<div id="list-result-search">
					<article data-th-each="list_search_result, itrStat  : ${list_search_results}">
						<div class="main-content-item">
							<header class="item-header">
								<span class="search-result-counter" data-th-text="${itrStat.index + 1}"></span>
								<h2 class="title-item-result-search">
									<a  data-th-href="${list_search_result.contentUrl}">
										<span  data-th-text="${list_search_result.name}"></span>
									</a>
								</h2>
								<span class="item-info" th:switch="${language}">
									<span class="itme-info-time" data-th-text="${list_search_result.time}"></span>
									<span>/</span>
									<span th:case="'en'">
										in
										<a href="#"><span>News @en</span></a>
									</span>
									<span th:case="'no'">
										i
										<a href="#"><span>News</span></a>
									</span>
								</span>
							</header>
						</div>
					</article>
				</div>
				<div class="pagination-search-result">
					
				</div>
			</div>
		</div>
	</div>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
	var records_per_page = 0;
	var current_page = 2;
	$(document).ready(function() {
		
		var number = /*[[${number}]]*/ 'default';
		
		
		function numPages()
		{
			return Math.ceil(number / current_page);
		}
		function getUrlVars() {
			var vars = {};
			var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
				vars[key] = value;
			});
			return vars;
		}
		function renderNumber(records_per_page){
			var render_number = '';
			render_number += `<span class="pagination-meta">Side `+ (records_per_page + 1) + ` of ` + numPages() + `</span>`
			render_number += `<a href="javascript:void(0);" id="btn-first"><<</a>
							<a href="javascript:void(0);" id="btn-prev"><</a>`
	
			for(var i = 1; i<=numPages(); i++){
				if(records_per_page + 1 == i){
					render_number += `<span class="current">`+ i + `</span>`;
				}
				else{
					render_number += `<a href="javascript:void(0);" data-id=`+ i + ` class="inactive">`+ i + `</a>`;
				}
			}
	
			
			render_number += `<a href="javascript:void(0);" id="btn-next">></a>
							<a href="javascript:void(0);" id="btn-last">>></a>
							<div class="clear"></div>`
			
			$(".pagination-search-result").html(render_number);

			if (records_per_page == 0) {
				$("#btn-prev").css('display', 'none');
				$("#btn-first").css('display', 'none');
			} else {
				$("#btn-prev").css('display', 'inline-block');
				$("#btn-first").css('display', 'inline-block');
			}

			if (records_per_page + 1 == numPages()) {
				$("#btn-next").css('display', 'none');
				$("#btn-last").css('display', 'none');
			} else {
				$("#btn-next").css('display', 'inline-block');
				$("#btn-last").css('display', 'inline-block');
			}
		}

		function getResultSearch(records_per_page){
			var path = /*[[${path}]]*/ 'default';
			$.ajax({
				url: path,
				type: "POST",
				data: 
				{
					records_per_page: records_per_page,
					current_page: current_page,
					data: getUrlVars()["s"],
				},
				success: function(data){
					var render = '';
					var render_number = '';
					
					var language = /*[[${language}]]*/ 'default';
					
					$(".pagination-search-result").html(render_number);
					for(var i = 0; i < data.length; i++){
						if( language == "en"){
							var language = `in <a href="#"><span>News @en</span></a>`;
						}
						else if (language == "no"){
							var language = `i <a href="#"><span>News</span></a>`;
						}
						
						render += `<article>
										<div class="main-content-item">
											<header class="item-header">
												<span class="search-result-counter">` + ( records_per_page * current_page + 1 + i) + `</span>
												<h2 class="title-item-result-search">
													<a href="` + data[i].contentUrl + `">
														<span>` + data[i].name + `</span>
													</a>
												</h2>
												<span class="itme-info-time">` + data[i].time + `</span>
												<span>/</span>
											</header>
										</div>
									</article>`;
					}
					$("#list-result-search").html(render);
					$(".item-header").append(language);

					renderNumber(records_per_page);

					
				},
				error: function (xhr) { console.log(xhr.responseText); }
			})
		}

		renderNumber(records_per_page);
		
		$(document).on("click","#btn-next",function(e){
			records_per_page ++;
			if(records_per_page < numPages()){
				getResultSearch(records_per_page);
			}
			else{
				records_per_page = numPages() - 1;
			}
		});

		$(document).on("click","#btn-prev",function(e){
			records_per_page --;
			if(records_per_page >= 0){
				getResultSearch(records_per_page);
			}
			else{
				records_per_page = 0;
			}
		});

		$(document).on("click","#btn-last",function(e){
			records_per_page = numPages() - 1;
			getResultSearch(records_per_page);
		});

		$(document).on("click","#btn-first",function(e){
			records_per_page = 0;
			getResultSearch(records_per_page);
		});

		$(document).on("click",".inactive",function(e){
			var result = $(this).data("id");
			records_per_page = result - 1;
			getResultSearch(records_per_page);
		});
		
	});

		


/*]]>*/
</script>