<div class="sub-menu">
    <div class="container">
        <h1 data-th-text="${portal.localize({'_key=title'})}"></h1>
        <ul>
            <li data-th-each="menu, itrStat  : ${submenus}">
                <a data-th-href="${menu.contentUrl}" data-th-class="${itrStat.first}? 'current-menu' : ''">
                    <span  data-th-text="${menu.name}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>