.@{_COMMON_PREFIX}dropdown {
  .reset(true);

  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 540px;
  text-align: left;

  input {
    .input-glow();
  }

  .input-icon {
    position: absolute;
    top: 5px;
    left: 13px;
    z-index: 4;
    width: 25px;
    height: 25px;
  }

  .input-icon + .option-filter-input {
    padding-left: 50px;
  }

  .slick-viewport {
    overflow-x: hidden !important;
    height: 100% !important;
  }

  .grid {
    width: 100% !important;
    overflow-y: auto !important;
  }

  .empty-options, .options-container {
    position: absolute;
    .box-sizing(border-box);
    width: 100%;
    margin: 0;
    padding: 0;
    .input-border();
    .box-shadow(2px 2px 2px @admin-medium-gray-border);
    background: white;
    z-index: 105;

    &.reverted {
      .box-shadow(2px 0px 2px @admin-medium-gray-border);
    }

    .slick-header {
      height: 0px;
      display: none;
    }

    .grid-canvas {
      width: 100% ! important;
    }

    .slick-cell {
      height: 100%;
      .default-slick-cell-styling();

      &:hover, &.active {
        background: @admin-bg-light-gray;
        cursor: pointer;
      }

      &.selected {
        font-style: italic;
        color: #d3d3d3;
      }
    }
  }

  .selected-option {
    position: relative;
    .input-border();
    .input-glow();
    width: 100%;
    min-height: 35px;
    padding: 0;
    margin: 0;
    text-align: left;
    background: white;
    .box-sizing(border-box);

    .option-value {
      margin: 8px 0 4px 10px;
      width: calc(~'100% - ' 45px);
    }

  }
}

.dropdown-tree-grid {
  .grid {
    .slick-row {
      .slick-cell {
        height: 50px;
      }
      &.readonly {
        opacity: 0.5;
        pointer-events: none;
      }
      &:not(.selectable) {
        &.active {
          .slick-cell.active {
            width: 100%;
          }
        }
        .slick-cell-checkboxsel {
          visibility: hidden;
        }
      }
      &:not(.expandable) {
        .toggle.icon {
          visibility: hidden;
        }
      }

      .toggle.icon {
        margin-left: 10px;
        height: 35px;
      }

      .selected {
        .@{_COMMON_PREFIX}names-view {
          .@{_COMMON_PREFIX}main-name {
            color: white;
          }
        }
      }
    }
  }
  &.tree-mode {
    .grid .slick-row .slick-cell {
      padding-left: 0;

      &:first-child {
        padding-left: 10px;
      }
    }
  }
  &:not(.tree-mode) {
    .grid {
      .slick-row {
        .toggle.icon {
          display: none;
        }
        .content-summary-viewer {
          padding-left: 15px;
        }
      }
    }
  }
}