<div data-th-class="${classname != '' ? classname:''}">
    <div class="container one-half">
        <div data-portal-region="left" class="col-sm-6">
            <div data-th-each="component : ${leftRegion.components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" data-th-remove="tag" />
            </div>
        </div>
        
        <div data-portal-region="right" class="col-sm-6" >
            <div data-th-each="component : ${rightRegion.components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" data-th-remove="tag" />
            </div>
        </div>
    </div>
</div>