<div class="list-post">
	<div class="list-post-pagination">
		<a href="#" id="btn_prev"><<</a>
		<div id="page"></div>
		<a href="#" id="btn_next" type="submit">>></a>
	</div>
	<div id="listPost">
		<!-- <article data-th-each="post, itrStat  : ${posts}" data-th-class="${itrStat.first}? 'active-item' : ''"> -->
		<article data-th-each="post, itrStat  : ${posts}">
			<h2>
				<a data-th-href="${post.contentUrl}">
					<span data-th-text="${post.name}"></span>
				</a>
			</h2>
		</article>
	</div>
</div>


<script th:inline="javascript">
/*<![CDATA[*/
	var records_per_page = 0;
	var current_page = 2;
	$(document).ready(function() {
		
		var number = /*[[${number}]]*/ 'default';
		
		function numPages()
		{
			return Math.ceil(number / current_page);
		}
		
		function getPost(records_per_page){
			var path = /*[[${path}]]*/ 'default';
			
			$.ajax({
				url: path,
				type: "POST",
				data: 
				{
					records_per_page: records_per_page,
					current_page: current_page
					// language: language
				},
				success: function(data){
					var render ="";
					var render_number = '';
	
					for(var i = 1; i<=numPages(); i++){
						if(records_per_page + 1 == i){
							render_number += `<span>`+ i + `</span>`;
						}
						else{
							render_number += `<a href="javascript:void(0);" class="number-page" data-id=`+ i + `>`+ i + `</a>`;
						}
					}
					
					$("#page").html(render_number);

					for(var i = 0; i< data.length; i++){
						render += `<article>
											<h2>
												<a href="`+ data[i].contentUrl + `">
													<span>`+ data[i].name + `</span>
												</a>
											</h2>
										</article>`
					}
					$("#listPost").html(render);
					
					if (records_per_page == 0) {
						$("#btn_prev").css('display', 'none');
					} else {
						$("#btn_prev").css('display', 'inline-block');
					}

					if (records_per_page + 1 == numPages()) {
						$("#btn_next").css('display', 'none');
					} else {
						$("#btn_next").css('display', 'inline-block');
					}
					
				},
				error: function (xhr) { console.log(xhr.responseText); }
			})
		}

		var render_number = '';
		
		for(var i = 1; i<=numPages(); i++){
			if(i == 1){
				render_number += `<span>`+ i + `</span>`;
			}
			else{
				render_number += `<a href="javascript:void(0);" class="number-page" data-id=`+ i + `>`+ i + `</a>`;
			}
		}
		$("#page").html(render_number);

		if (records_per_page == 0) {
			$("#btn_prev").css('display', 'none');
		} else {
			$("#btn_prev").css('display', 'inline-block');
		}
		
		$("#btn_next").on("click",function(e){
			records_per_page ++;
			if(records_per_page < numPages()){
				getPost(records_per_page);
			}
			else{
				records_per_page = numPages() - 1;
			}
		});
		
		$("#btn_prev").on("click",function(e){
			records_per_page --;
			if(records_per_page >= 0){
				getPost(records_per_page);
			}
			else{
				records_per_page = 0;
			}
		});

		$(document).on("click",".number-page",function(e){
			var page = $(this).data("id");
			records_per_page = page - 1;
			getPost(records_per_page);
		});

		
	});

		


/*]]>*/
</script>
