@import "mixins/media";

ul {
    margin: 0;
    padding: 0;
    margin-left: 15px;
}
body {
    font-size: 16px;
}
p{
    margin: 0.85em 0;
}
a{
    color: #444;
    word-break: break-word;
}
a:hover{
    color: #f82d2d;
    transition: color .3s ease-out;
    -webkit-transition: color .3s ease-out;
    -moz-transition: color .3s ease-out;
    -ms-transition: color .3s ease-out;
    -o-transition: color .3s ease-out;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-right: 0px;
    padding-left: 0px;
}
.header {
    background-color: #404040;
    .header-main {
        height: 120px;
        line-height: 120px;
        border-bottom: 1px solid #e1e1e1;
        .logo {
            float: left;
        }
        .main-menu {
            float: right;
            padding-top: 48px;
            .menu {
                list-style-type: none;
                font-size: 15px;
                @include small-desktop{
                    font-size: 10px;
                }
                li {
                    float: left;
                    line-height: 30px;
                    position: relative;
                    cursor: pointer;
                    a {
                        display: inline-block;
                        line-height: 70px;
                        height: 70px;
                        color: #fff;
                        padding: 0px 14px;
                        &:hover {
                            text-decoration: none;
                            .menu-fx {
                                opacity: 1;
                            }
                        }
                        .menu-fx {
                            height: 4px;
                            opacity: 0;
                            background-color: #f82d2d;
                            position: absolute;
                            bottom: -1px;
                            z-index: 10;
                            width: 100%;
                            left: 0;
                            transition: all 0.3s ease-out 0s;
                        }
                    }
                    &:not(:nth-last-child(-n+3)){
                        @include tablet-and-phone{
                            display: none;
                        }
                    }
                }
                .hasSubmenu{
                    .dropdown-menu{
                        background: #404040;
                        padding: 0;
                        min-width: unset;
                        li{
                            float: none;
                            border-bottom: 1px solid #f6f6f6;
                            a{
                                .submenu-fx{
                                    position: absolute;
                                    height: 100%;
                                    background: #f82d2d;
                                    width: 4px;
                                    transition: all 0.3s ease-out 0s;
                                    left: 0;
                                    opacity: 0;
                                }
                            }
                            &:hover{
                                .submenu-fx{
                                    opacity: 1;
                                }
                            }
                        }
                        li:last-child{
                            border-bottom: none;
                        }
                        .current-submenu {
                            .submenu-fx {
                                opacity: 1;
                            }
                        }
                    }
                    
                    &:hover{
                        .dropdown-menu{
                            display: block;
                            li {
                                a:hover{
                                    background: #404040;
                                }
                            }
                        }
                    }
                }
                .current-menu , .in-path{
                    .menu-fx {
                        opacity: 1;
                    }
                }
                
                .li-search{
                    @include tablet-and-phone{
                        top: 26px;
                        right: 135px;
                        position: absolute;
                        z-index: 100;
                    }
                }
                .li-switch-language-en{
                    @include tablet-and-phone{
                        top: 26px;
                        right: 100px;
                        position: absolute;
                        z-index: 100;
                    }
                }
                .li-switch-language-no{
                    @include tablet-and-phone{
                        top: 26px;
                        right: 65px;
                        position: absolute;
                        z-index: 100;
                    }
                }
            }
            #menu-special{
                display: none;
                @include tablet-and-phone{
                    display: block;
                    position: absolute;
                    right: 15px;
                }
                i{
                    color: #e1e1e1;
                    font-size: 45px;
                    line-height: 120px;
                }
            }
            .menu-special-overlay{
                display: none;
                position: fixed;
                overflow: hidden;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                z-index: 20;
                .menu-special-overlay-scroll{
                    background: #404040;  
                    overflow: auto;
                    position: absolute;
                    z-index: 10;
                    width: 350px;
                    right: 0;
                    height: 100%;
                    .menu-special-overlay-inner{
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        text-align: center;
                        display: table;
                        z-index: 5;
                        min-height: 700px;
                        ul{
                            list-style-type: none;
                            vertical-align: top;
                            display: table-cell;
                            height: 100%;
                            width: 100%;
                            padding: 50px 0;
                            li {
                                opacity: 1;
                                top: 0;
                                left: 0;
                                a {
                                    line-height: 70px;
                                    height: 70px;
                                    color: #fff;
                                    text-align: left;
                                    display: block;
                                    padding: 15px 50px;
                                    border-bottom: 1px solid;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                    
                                }
                                .dropdown-menu {
                                    display: block;
                                    padding: 0px;
                                    float: none;
                                    height: auto;
                                    width: auto;
                                    position: unset;
                                    background: #404040;
                                    box-shadow: none;
                                    border: none;
                                    li{
                                        a{
                                            padding: 0;
                                            margin: 0 auto;
                                            width: 70%;
                                            &:hover{
                                                background-color: #404040;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        #menu-special-close{
                            position: absolute;
                            right: 25px;
                            top: 11px;
                            i{
                                color: #e1e1e1;
                                font-size: 45px;
                            }
                        }
                    }
                }
                .menu-special-overlay-bg{
                    background: #000;
                    height: 100%;
                    width: 100%;
                    position: fixed;
                    opacity: 0.3;
                }
            }
            @include tablet-and-phone{
                padding-top: 0px;
                float: none;
            }
        }
    }
}

.home-slide {
    background: #404040;
    padding-bottom: 50px;
    border-top: 1px solid #e1e1e1;
    .carousel {
        padding: 0;
    }
}
.one-full{
    padding-bottom: 50px;
}
.one-half {
    padding-top: 50px;
    padding-bottom: 50px;
    div:nth-child(1){
        padding-right: 25px;
        section:nth-child(2){
            border: 1px solid #444;
        }
    }
    div:nth-child(2){
        padding-left: 25px;
        section:nth-child(2){
            border: 1px solid #444;
        }
    }
    @include phone{
        div{
            padding: 0 !important;
        }
    }

}
iframe {
    width: 100%;
    height: 300px;
}

.sub-menu{
    border-top: 1px solid #e1e1e1;
    padding-bottom: 50px;
    h1{
        text-transform: uppercase;
        @include phone{
            font-size: 25px;
        }
    }
    ul {
        list-style-type: none;
        li {
            float: left;
            width: 31%;
            @include tablet-and-phone{
                width: 100%;
            }
            margin: 40px 3.5% 0 0;
            a {
                line-height: 35px;
                min-height: 90px;
                border: solid 1px #444;
                color: #444;
                display: block;
                text-align: center;
                padding: 8px;
                font-size: 22px;
                font-weight: 300;
            }
            a:hover{
                text-decoration: none;
            }
        }
        li:nth-child(3n){
            margin-right: 0;
        }
    }
}
.border{
    width: 100%;
    border-top: 1px solid #e1e1e1;
}
.one-of-three{
    margin-bottom: 30px;
    margin-left: 6%;
    width: 29.333333333333332%;
    &:nth-child(1){
        margin-left: 0;
    }
    @include phone{
        width: 100%;
        margin-left: 0;
    }
}
.footer{
    text-align: center;
    .footer-top{
        background: #141212;
        color: #fff;
        padding: 15px 0 30px 0;
        font-size: 24px;
        @include phone{
            font-size: 18px;
            word-break: break-word;
        }
        @include tablet{
            font-size: 20px;
        }
        .text-footer{
            margin: 30px 0;
            a{
                color: #fff;
            }
            a:hover{
                color: #fff;
            }
            span{
                @include phone{
                    display: block;
                    padding: 0 20px;
                    text-indent: 100%;
                    line-height: 10px;
                    overflow: hidden;
                }
            }
        }
    }
    .footer-bottom{
        font-size: 20px;
        color: #5d5d5d;
        background: #e5e5e5;
        @include phone{
            font-size: 14px;
        }
        .container{
            padding: 15px 0;
            .copyright{
                a, a:hover{
                    color: #5d5d5d;
                }
            }
        }
    }
}
.center{
    text-align: center;
}
.layout-intro {
    background: #404040;
    .container{
        padding: 50px 15px 20px 15px;
        color: #fff;
    }
}
.map{
    background-color: #f6f6f6;
    .container {
        padding-top: 50px;
        padding-bottom: 50px;
        iframe{
            // width: inherit;
            height: 450px;
        }
    }
}
.main-content-post{
    padding: 50px 50px 50px 0;
    border-right: 1px solid #e1e1e1;
    h1{
        margin: 0 0 50px 0;
    }
}
.list-post{
    // border-left: 1px solid #e1e1e1;
    article{
        a:hover{
            text-decoration: none;
        }
        h2{
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 30px;
        }
    }
    @include phone{
        display: none;
    }
}
.post-first-title{
    font-size: 21px;
    line-height: 1.3em;
    padding-bottom: 20px;
    font-weight: bold;
    a:hover{
        color: #444;
        text-decoration: none;
    }
}
.active-item{
    h2{
        a{
            color: #848484;
        }
        a:hover{
            color: #f82d2d;
        }
    }
}
.list-post-pagination{
    font-size: 24px;
    color: #404040;
    padding-bottom: 30px;
    *{
        display: inline-block;
        padding: 0 8px;
        @include tablet{
            padding: 0 6px;
        }
    }
    #page{
        span{
            color: #f82d2d;
        }
    }
}
.col7_3_1{
    padding: 50px 50px 50px 0;
    // border-right: 1px solid #e1e1e1;
    @include phone{
        border: none;
        padding: 50px 0;
    }
}
.col7_3_2{
    padding: 50px 0 0 50px;
    @include phone{
        padding-left: 0;
    }
}
.search{
    position: relative;
    z-index: 100;
}
.area-search{
    z-index: 100;
    display: none;
    opacity: 1;
    position: absolute;
    right: 0;
    background: #404040;
    color: #fff;
    border: 1px solid #e1e1e1;
    top: 55px;
    @include phone{
        right: -115px;
    }
    .inner-search{
        form{
            div{
                position: relative;
                max-width: 300px;
                margin: 16px;
                .button{
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 2;
                    margin: 0;
                    min-width: 40px;
                    background: #f82d2d;
                    border: 1px solid #d60b0b;
                    transition: all 0.3s ease-out;
                    &:hover{
                        background: #fff;
                        color: #000;
                        border: 1px solid #fff;
                    }
                }
                #s{
                    position: relative;
                    padding: 11px 47px 11px 5px;
                    background: #404040;
                    border: 1px solid #e1e1e1;
                    outline: none;
                    height: 40px;
                }
            }
        }
    }
    .tooltip-wrap{
        width: 20px;
        height: 20px;
        position: absolute;
        top: -20px;
        right: 10px;
        margin-left: -10px;
        overflow: hidden;
        @include phone{
            right: 46%;
        }
        .avia-arrow{
            background-color: #404040;
            color: #fff;
            top: 15px;
            height: 10px;
            width: 10px;
            position: absolute;
            left: 50%;
            border: 1px solid #e1e1e1;
            transform: rotate(45deg);
        }
    }
}
.main-content{
    margin-top: 50px;
    margin-bottom: 50px;
    .header-page-search{
        margin-bottom: 40px;
        padding: 0 0 44px 0;
        position: relative;
        .search-form-field{
            form{
                div{
                    position: relative;
                    max-width: 300px;
                    button{
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        padding: 0;
                        position: absolute;
                        right: 0;
                        top: 0;
                        min-width: 40px;
                        z-index: 2;
                        background-color: #535353;
                        color: #fff;
                        border: none;
                        font-size: 17px;
                    }
                    input{
                        position: relative;
                        padding: 11px 47px 11px 5px;
                        height: 40px;
                        width: 100%;
                        background-color: #f8f8f8;
                        color: #535353;
                        box-shadow: none;
                        border: 1px solid #e1e1e1;
                        outline: none;
                    }
                }
            }
            // .extra-border{
            //     right: auto;
            //     left: -100%;
            //     display: block;
            //     position: absolute;
            //     bottom: -1px;
            //     width: 600%;
            //     border: 0.5px solid #e1e1e1;
            //     @include tablet-and-phone{
            //         width: 205%;
            //     }
            //     @include small-desktop{
            //         width: 204%;
            //     }
            // }
        }
    }
    h4{
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 1.1em;
        color: #535353;
        padding-bottom: 20px;
    }
    article{
        position: relative;
        clear: both;
        .main-content-item{
            padding-bottom: 40px;
            padding-left: 55px;
            font-size: 13px;
            clear: both;
        }
        header{
            .search-result-counter{
                position: absolute;
                left: 0;
                top: 1px;
                box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
                height: 44px;
                line-height: 24px;
                text-align: center;
                border-radius: 100px;
                width: 44px;
                background: #f8f8f8;
                border-color: #e1e1e1;
                padding: 10px;
            }
            .title-item-result-search{
                font-size: 19px;
                line-height: 1.3em;
                color: #666666;
                font-weight: 300;
                margin-top: 0;
            }
        }
    }
}
.no-result{
    padding-bottom: 40px;
    font-size: 13px;
    clear: both;
}
.gototop{
    display: block;
    color: #5d5d5d;
    border: 1px solid transparent;
    background: #e5e5e5;
    position: fixed;
    border-radius: 2px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    right: 50px;
    bottom: 50px;
    z-index: 1030;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-animation: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &:hover{
        color: #5d5d5d;
    }
    &:visited{
        color: #5d5d5d;
    }
}
.pagination-search-result{
    .pagination-meta{
        display: block;
        text-align: right;
        font-size: 11px;
    }
    .current{
        font-weight: bold;
    }
    .current, a{
        float: left;
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
        padding: 0;
        border-radius: 100px;
        margin-right: 3px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
        font-size: 11px;
    }
    a:hover{
        background: #535353;
        color: #ffffff;
        text-decoration: none;
    }
}
.post-title{
    a:hover{
        color: #444;
        text-decoration: none;
    }
}