@font-face {
  font-family: 'icomoon';
  src: url('../icons/fonts/icomoon.eot?d2dpl4');
  src: url('../icons/fonts/icomoon.eot?#iefixd2dpl4') format('embedded-opentype'),
  url('../icons/fonts/icomoon.woff?d2dpl4') format('woff'),
  url('../icons/fonts/icomoon.ttf?d2dpl4') format('truetype'),
  url('../icons/fonts/icomoon.svg?d2dpl4#icomoon-release') format('svg');
}

.icon-base {
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  color: @admin-dark-gray;

}

.icon {
  &:extend(.icon-base);

  // important to override buttons font if icon is applied to button
  &:before, &:after {
    font-family: 'icomoon' !important;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.font-icon-default {
  &:extend(.icon);
}

.icon-xsmall {
  &:before {
    font-size: 10px;
  }
}

.icon-small {
  &:before {
    font-size: 14px;
  }
}

.icon-medium {
  &:before {
    font-size: 24px;
  }
}

.icon-large {
  &:before {
    font-size: 30px;
  }
}

.icon-xlarge {
  &:before {
    font-size: 48px;
  }
}

.icon-spinner {
  .icon;
  &:before {
    content: "\e007";
  }
}

.icon-newspaper {
  .icon;
  &:before {
    content: "\e00c";
  }
}

.icon-pencil2 {
  .icon;
  &:before {
    content: "\e906";
  }
}

.icon-pencil {
  .icon-pencil2;
}

.icon-image {
  .icon;
  &:before {
    content: "\e90d";
  }
}

.@{_COMMON_PREFIX}icon-image {
  .icon-image();
}

.@{_COMMON_PREFIX}icon-file {
  .icon;
  &:before {
    content: "\e077";
  }
}

.icon-file-text2 {
  .icon;
  &:before {
    content: "\e926";
  }
}

.icon-page {
  .icon-file-text2;
}

.icon-folder-closed {
  .icon;
  &:before {
    content: "\e92f";
  }
}

.icon-folder-open {
  .icon;
  &:before {
    content: "\e930";
  }
}

.icon-folder {
  .icon-folder-closed;
}

.icon.collapse + * .icon-folder {
  .icon-folder-open;
}

.icon-address-book {
  .icon;
  &:before {
    content: "\e0e8";
  }
}

.icon-clock {
  .icon;
  &:before {
    content: "\e101";
  }
}

.icon-calendar {
  .icon;
  &:before {
    content: "\e953";
  }
}

.@{_CLS_PREFIX}icon-screen {
  .icon;
  &:before {
    content: "\e120";
  }
}

.@{_CLS_PREFIX}icon-monitor {
  .icon;
  &:before {
    content: "\e123";
  }
}

.@{_CLS_PREFIX}icon-mobile {
  .icon;
  &:before {
    content: "\e125";
  }
}

.@{_CLS_PREFIX}icon-tablet {
  .icon;
  &:before {
    content: "\e127";
  }
}

.icon-database {
  .icon;
  &:before {
    content: "\e138";
  }
}

.icon-center_focus_strong {
  .icon;
  &:before {
    content: "\e149";
  }
}

.icon-crop {
  .icon;
  &:before {
    content: "\ea57";
  }
}

.icon-user {
  .icon;
  &:before {
    content: "\e185";
  }
}

.icon-users {
  .icon;
  &:before {
    content: "\e186";
  }
}

.icon-search {
  .icon;
  &:before {
    content: "\e986";
  }
}

.icon-cog {
  .icon;
  &:before {
    content: "\e1df";
  }
}

.icon-wand {
  .icon;
  &:before {
    content: "\e1ec";
  }
}

.icon-pie {
  .icon;
  &:before {
    content: "\e1f7";
  }
}

.icon-fragment {
  .icon-pie();
}

.@{_COMMON_PREFIX}icon-fragment {
  .icon-pie();
}

.icon-puzzle {
  .icon;
  &:before {
    content: "\e26e";
  }
}

.@{_COMMON_PREFIX}icon-part {
  .icon-puzzle;
}

.icon-signup {
  .icon;
  &:before {
    content: "\e296";
  }
}

.icon-clipboard {
  .icon;
  &:before {
    content: "\e298";
  }
}

.icon-list {
  .icon;
  &:before {
    content: "\e299";
  }
}

.icon-menu {
  .icon;
  &:before {
    content: "\e9bd";
  }
}

.icon-lock {
  .icon;
  &:before {
    content: "\e98f";
  }
}

.icon-attachment {
  .icon;
  &:before {
    content: "\e9cd";
  }
}

.icon-blocked {
  .icon;
  &:before {
    content: "\ea0e";
  }
}

.icon-close {
  .icon;
  &:before {
    content: "\e36b";
  }
}

.icon-checkmark {
  .icon;
  &:before {
    content: "\e370";
  }
}

.@{_COMMON_PREFIX}icon-loop {
  .icon;
  &:before {
    content: "\ea2e";
  }
}

.icon-keyboard_arrow_left {
  .icon;
  &:before {
    content: "\e900";
  }
}

.icon-arrow-left {
  .icon-keyboard_arrow_left;
}

.icon-arrow-up {
  .icon-keyboard_arrow_left;
  .rotate(90deg);
}

.icon-arrow-right {
  .icon-keyboard_arrow_left;
  .rotate(180deg);
}

.icon-arrow-down {
  .icon-keyboard_arrow_left;
  .rotate(270deg);
}

.icon-arrow-left2 {
  .icon;
  &:before {
    content: "\ea40";
  }
}

.icon-arrow_drop_up {
  .icon;
  &:before {
    content: "\e901";
  }
}

.icon-arrow-right2 {
  .icon-arrow_drop_up;
  .rotate(90deg);
}

.icon-circle-right {
  .icon;
  &:before {
    content: "\ea42";
  }
}

.icon-rotate_right {
  .icon;
  &:before {
    content: "\e41a";
  }
}

.icon-font-size {
  .icon;
  &:before {
    content: "\ea62";
  }
}

.@{_COMMON_PREFIX}icon-text {
  .icon-font-size;
}

.icon-insert-template {
  .icon;
  &:before {
    content: "\ea73";
  }
}

.icon-layout {
  .icon-insert-template;
  &:before {
    display: inline-block;
    .rotate(90deg);
  }
}

.@{_COMMON_PREFIX}icon-layout {
  .icon-layout();
}

.icon-page-template {
  .icon-insert-template;
}

.icon-paragraph-left {
  .icon;
  &:before {
    content: "\ea7b";
  }
}

.icon-paragraph-center {
  .icon;
  &:before {
    content: "\ea7c";
  }
}

.icon-paragraph-right {
  .icon;
  &:before {
    content: "\ea7d";
  }
}

.icon-paragraph-justify {
  .icon;
  &:before {
    content: "\ea7e";
  }
}

.icon-compass2 {
  .icon;
  &:before {
    content: "\e94b";
  }
}

.@{_COMMON_PREFIX}icon-region {
  .icon-compass2;
  .rotate(270deg);
}

.icon-tree {
  .icon;
  &:before {
    content: "\e902";
  }
}

.icon-tree.mode-toggler-button {
  .icon-folder-closed;

  &.active {
    .icon-folder-open;
  }
  &:before {
    font-size: 22px;
  }
}

.icon-user-tie {
  .icon;
  &:before {
    content: "\e977";
  }
}

.icon-masks {
  .icon-user-tie;
}

.icon-flip {
  .icon;
  &:before {
    content: "\e903";
  }
}

.icon-sort-alpha-asc {
  .icon;
  .icon-small();
  &:before {
    content: "\ea48";
  }
}

.icon-sort-alpha-desc {
  .icon;
  .icon-small();
  &:before {
    content: "\ea49";
  }
}

.icon-sort-num-asc {
  .icon;
  .icon-small();
  &:before {
    content: "\ea4a";
  }
}

.icon-sort-num-desc {
  .icon;
  .icon-small();
  &:before {
    content: "\ea4b";
  }
}