<div data-th-class="${(classname != '' ? classname:'' )+ ' one-full' }">
    <div class="container">
        <div data-portal-region="one" class="col-sm-12">
            <div data-th-each="component : ${region.components}" data-th-remove="tag">
                <div data-portal-component="${component.path}" data-th-remove="tag" />
            </div>
        </div>
    </div>
</div>