<div class="home-slide">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-th-if="${images}">
          <!-- Indicators -->
            <ol class="carousel-indicators">
                <div data-th-each="image,iterStat : ${images}" data-th-remove="tag">
                    <li data-target="#carousel-example-generic" data-slide-to="0" data-th-attr="data-slide-to = ${iterStat.index}" data-th-class="${iterStat.index == 0 ? 'active' : null}"></li>
                </div>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div data-th-each="image,iterStat : ${images}" data-th-remove="tag">
                    <div data-th-class="${iterStat.index == 0 ? 'item active' : 'item'}">
                        <img data-th-if="${image}" class="carousel-image" src="" data-th-src="${portal.imageUrl({'_id=' + image, '_scale=width(1170)'})}" alt=""/>
                    </div>
                </div>
            </div>
        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>