@empty-node-size: 32px;

.tree-grid {

  position: static;
  height: 100%;
  &:not(.no-toolbar) {
    padding-top: 40px;
  }

  .slick-viewport {
    overflow-x: hidden !important;
    height: 100% !important; // only without animation

    .grid-canvas {
      width: 100% !important;
    }
  }

  &.quick .grid {
    .slick-row {
      .transition(none 4s);
    }
  }

  .slick-row {
    .transition(margin ease-in 0.3s);
  }

  .grid {
    width: 100%;
    height: 100%;
    overflow-y: auto !important;

    .selected {
      background-color: @admin-blue;
      color: @admin-white;
    }

    .slick-cell {
      .default-slick-cell-styling(4px 8px 4px 0);
      cursor: pointer;
      line-height: 37px;
      height: 45px; // firefox ignores SlickGrid.rowHeight

      * {
        // force same cursor on every child
        cursor: pointer;
      }
    }

    .slick-row {

      background-color: @admin-white;
      z-index: 1;
      .transition(margin ease-in 0.3s);

      &:hover {
        background-color: @admin-bg-light-gray;
      }

      .children-to-load {
        padding-left: 46px;
        color: @admin-font-gray2;
        font-size: 13px;
        .ellipsis();
        .notSelectable();
      }

      .selected, &.selected {
        background-color: @admin-blue;
        color: @admin-white;

        h6, p, .children-to-load {
          color: @admin-white;
        }
      }

      .slick-cell-checkboxsel {
        min-width: 45px;
        line-height: normal;
        padding-left: 8px;
        display: flex;
        justify-content: center;

        label {

          align-self: center;

          display: inline-block;
          width: 14px;
          height: 14px;
          vertical-align: middle;
          background: url("../../../../images/box-unchecked.gif") center no-repeat;
          cursor: pointer;
        }

        input[type="checkbox"] {
          display: none;
        }

        &.selected label {
          background: url("../../../../images/box-checked.gif") center no-repeat;
        }

        &:last-child {
          padding-right: 20px;
        }

      }

      .toggle {
        &:active {
          color: @admin-button-blue1;
        }

        display: inline-block;
        position: relative;
        float: left;
        height: 100%;
        width: 20px;
        text-align: center;
        margin-right: 17px;
      }

      .toggle.expand, .toggle.collapse {
        &:before {
          position: relative;
          display: block;
          font-size: 24px;
        }
      }

      .toggle.expand {
        .icon-arrow-right2();
      }

      .toggle.collapse {
        .icon-arrow-right2();
        &:before {

          .rotate(45deg);
        }
      }

      .viewer {
        display: block;
        height: 100%;
        .names-and-icon-view {
          .@{_COMMON_PREFIX}wrapper {
            line-height: 36px;
          }
          .@{_COMMON_PREFIX}names-view {
            margin-top: 1px;
            .@{_COMMON_PREFIX}main-name {
              height: 18px;
              line-height: 18px;
            }
          }
        }
        &.invalid .names-and-icon-view .@{_COMMON_PREFIX}wrapper:before {
          top: 2px;
        }
      }

      .progress-bar {
        height: 12px;
        margin: 12px 0; // because cell height 37px
      }

      &.empty-node {
        .slick-cell {
          display: none;
        }
        top: 0;
        left: 0;
        .icon-spinner;
        font-size: @empty-node-size;

        &:before {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: @empty-node-size;
          height: @empty-node-size;
          margin: -@empty-node-size/2 0 0 -@empty-node-size/2;
          color: @admin-dark-gray;
          .animation(rotate360, .5s, 0s, linear);
        }
      }

      .shifted .toggle.icon {
        width: 45px;
        margin-right: 5px;
      }
    }
  }

  &.selection-mode .grid .slick-row .toggle.expand {
    visibility: hidden;
  }
}

